/*
=== TO DO LIST ===
- configure for mobile as well as website
- double check website on other browsers
- fix "infinite wrap" on image section
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Exo 2', sans-serif;
}
:root{
    --spinning-logo-color: rgb(4, 0, 0);
    --background-color-1: rgb(4, 0, 0); /* rgb (37,37.37) is old grey */
    --text-color-1: rgb(222, 222, 222);
    --red-color: rgb(190, 31, 31);
}
a, a:visited{
    text-decoration: none;
}
img{
    max-width: 100%;
}
main{
    width: 100%;
    overflow: hidden;
    margin: auto;
    background-color: var(--background-color-1);
    color:rgb(222, 222, 222);
}
/*======= Spinning Logo ======*/
.spinning_logo_container{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--spinning-logo-color);
    height: 80vh;
}
.spinning_logo_container>img{
    width: 50%;
}
.text{ /* who we are */
    display:block;
    justify-content:center;
    margin: 3em;
    /*border:solid 5px rgb(222, 222, 222);*/
    
}
.text>h1{
    justify-content:center;
    padding: 1em;
    text-align: center;
}
.text>p{
    border-top: solid 1px white;
    margin: 0 17%;
    padding-top: 1em;
    font-size: 27px;
    line-height: 1.3em;
    text-indent: 50px;
}
/* =========== NAV ===========*/
nav{
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--spinning-logo-color); 
    width: auto;
    margin: auto;
    padding: 1%;
    z-index: 10;
    box-shadow: 0px 0px 20px var(--red-color);
}

.top_logo{
    width: 40vh;
}
.volunteer_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    margin-right: 100px;
    border-radius: 20px;
    background-color: var(--red-color);
    color: var(--text-color-1);
    transition: all 200ms ease;
}
.volunteer_button:hover{
    box-shadow: 0px 0px 20px white;
    transform: translate(3px, -3px);
    cursor: pointer;
}
/* ===========Section 1===========*/
.section_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    border: solid 2px purple;
}
.image_logo{
    border-radius: 100px;
}
/*========Location=======*/
.location_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    width: 100%;
    background-image: url("../images/red-image-background.jpg");
}
.location_right_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.location_info_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.location_image{
    margin-right: 2em;
    background-color: red;
    border: solid 1px white;
    height: 70vh;
    width: 22em;
}
.location_map{
    /*background-color: blue;*/
    border: solid 1px white;
    height: 40vh;
    width: 20em;
}
.location_hours{
    margin-top: 1em;
}
/*=======Form========*/
.volunteer_form{
    border: solid 5px white;
    background-image: linear-gradient(to bottom right, var(--red-color), rgb(82, 30, 30));
    padding: 2%;
    width: 30%;
    margin-top: 2em;
    margin-bottom: 2em;
}
.volunteer_form>h2{
    font-size: 2em;
}
.volunteer_form>p{
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
}
.volunteer_form>p>input{
    height: 30px;
    border-radius: 30px;
    padding-left: 10px;
    border: none;
}
/*=====Image Overlay======*/
.free_meals_container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.free_meals_container>img{
    position: absolute;
    width: 100%;
    transform: translateY(-10vh);
}
.free_meals_title{
    position: relative;
    margin: 1em auto;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 50px;
}
.black_overlay{
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0px 0px 20px black;
    background-color: rgba(0, 0, 0, 0.473);
}
/*========Section 2==========*/
.section_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300%;
    padding: 2% 0;
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    background-color: var(--spinning-logo-color);
    margin: auto;
}
.image_header{
    margin-left: 5em;
}
.food_pic_container{
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    border-radius: 5px;
    background-color: var(--spinning-logo-color);
    animation: picture_animation 15s linear infinite;
}
.section_2>div>img{ /* i think this is the same as the class "food_pic" i just made oops */
    width: 100%;
    height: 100%;
}

/*========Section 3==========*/
.section_3{
    width: 100%;
    display: block;
    height: 30em;
    border: solid 2px purple;
}

/*=====Sponsors=====*/
.full_sponsors_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: auto;
    border-left: solid 3px var(---red-color);
}
.full_sponsors_container>h3{
    margin-bottom: 2em;
    text-align: center;
}
.sponsor_pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.sponsor_container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 9vw;
    width: 9vw;
    border-radius: 10vw;
    background-color: white;
    transition: all 200ms ease;
}
.sponsor_container:hover{
    box-shadow: 0px 0px 10px var(--red-color);
    transform: scale(1.1);
}

/* footer test */
/* this is here so we can test when you click volunteer how far down it goes. a temporary addition */
footer {
    border-top: solid white 1px;
    padding: 1%;
    margin: 3em 0;
}


@keyframes picture_animation{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-300%);
    }
}



/* via: https://www.sliderrevolution.com/resources/css-button-hover-effects/ */

/* ============= BUTTON TESTING ============ */
.draw-border {
    box-shadow: inset 0 0 0 4px var(--red-color);
    color: var(--red-color);
    border: solid 2px pink;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: var(--text-color-1);
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: var(--text-color-1);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}