/*
=== TO DO LIST ===
- configure for mobile as well as website
- double check website on other browsers
- fix "Volunteer Now" button to actually go to volunteer form
- fix image warping on transitions
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Exo 2', sans-serif;
}
:root{
    --spinning-logo-color: rgb(4, 0, 0);
    --background-color-1: rgb(4, 0, 0); /* rgb (37,37.37) is old grey */
    --text-color-1: rgb(222, 222, 222);
    --red-color: rgb(190, 31, 31);
}
a, a:visited{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.index_main{
    width: 100%;
    overflow: hidden;
    margin: auto;
    background-color: var(--background-color-1);
    color:rgb(222, 222, 222);
}
/*======= Spinning Logo ======*/
.spinning_logo_container{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--spinning-logo-color);
    height: 88vh;
}
.spinning_logo_container>img{
    width: 50%;
}
.text{ /* who we are */
    display:block;
    justify-content:center;
    margin: 3em;
    /*border:solid 5px rgb(222, 222, 222);*/
    
}
.text>h1{
    justify-content:center;
    padding: 1em;
    margin: auto;
    width: 50%;
    text-align: center;
    border-bottom: solid 1px white;
}
.text>p{
    margin: 0 17%;
    padding-top: 1em;
    font-size: 25px;
    line-height: 1.3em;
    text-indent: 50px;
}

.custom_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    height: 80vh;
}
.salvation_word{
    display: flex;
    flex-direction: row;
}
.salvation_word>div{
    font-size: 50px;
    font-family: 'Syne Mono', monospace;
}
.suppers_word{
    display: flex;
    flex-direction: row;
}
.suppers_word>div{
    font-size: 50px;
    font-family: 'Syne Mono', monospace;
}
.salvation_word>div:nth-child(1){
    animation: myOrbit 2s ease-in-out normal;
}
.salvation_word>div:nth-child(2){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 100ms;
}
.salvation_word>div:nth-child(3){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 200ms;
}
.salvation_word>div:nth-child(4){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 300ms;
}
.salvation_word>div:nth-child(5){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 400ms;
}
.salvation_word>div:nth-child(6){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 500ms;
}
.salvation_word>div:nth-child(7){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 600ms;
}
.salvation_word>div:nth-child(8){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 700ms;
}
.salvation_word>div:nth-child(9){
    animation: myOrbit 2s ease-in-out normal;
    animation-delay: 800ms;
}
/*======*/
.suppers_word>div:nth-child(1){
    animation: myOrbit2 2s ease-in-out normal;
}
.suppers_word>div:nth-child(2){
    animation: myOrbit2 2s ease-in-out normal;
    animation-delay: 100ms;
}
.suppers_word>div:nth-child(3){
    animation: myOrbit2 2s ease-in-out normal;
    animation-delay: 200ms;
}
.suppers_word>div:nth-child(4){
    animation: myOrbit2 2s ease-in-out normal;
    animation-delay: 300ms;
}
.suppers_word>div:nth-child(5){
    animation: myOrbit2 2s ease-in-out normal;
    animation-delay: 400ms;
}
.suppers_word>div:nth-child(6){
    animation: myOrbit2 2s ease-in-out normal;
    animation-delay: 500ms;
}
.suppers_word>div:nth-child(7){
    animation: myOrbit2 2s ease-in-out normal;
    animation-delay: 500ms;
}
@keyframes myOrbit {
    from { transform: rotate(0deg) translate(500px, 10px) rotate(0deg);
        font-size: 1px;
    }
    to { transform: rotate(360deg) translate(0px) rotate(-360deg);
        font-size: 50px;
    }
}
@keyframes myOrbit2 {
    from { transform: rotate(0deg) translate(500px, 10px) rotate(0deg);
        font-size: 1px;
    }
    to { transform: rotate(-360deg) translate(0px) rotate(360deg);
        font-size: 50px;
    }
}
@keyframes logo_animation{
    0%{
        transform: translate(-300px, -300px);
        font-size: 1px;
    }
    100%{
        transform: translate(0px, 0px);
        font-size: 50px;
    }
}
/*==========Event==========*/
.event_container{
    position: sticky;
    box-shadow: inset 0px 0px 10px black;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
    z-index: 10;
}
.event_container>p{
    color: white;
    text-align: center;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
/* =========== NAV ===========*/
nav{
    display: flex;
    position: sticky;
    top: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--spinning-logo-color); 
    padding: 0.5%;
    width: auto;
    margin: auto;
    z-index: 10;
    box-shadow: 0px 0px 20px var(--red-color);
}

.top_logo{
    display: flex;
    flex-direction: row;
    margin-left: 3%;
}
.logo_letter{
    color: var(--red-color);
    font-size: 25px;
    transition: all 100ms ease;
}
.logo_letter:hover{
    color: white;
    cursor: pointer;
    transform: translateY(-3px);
}
.volunteer_button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    margin-right: 100px;
    border-radius: 20px;
    background-color: var(--red-color);
    color: var(--text-color-1);
    transition: all 200ms ease;
}
.volunteer_button:hover{
    box-shadow: 0px 0px 20px white;
    transform: translate(3px, -3px);
    cursor: pointer;
}
/*========Location=======*/
.location_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: inset 0px 0px 20px black;
    padding: 3%;
    width: 100%;
    background-image: url("../images/red-image-background.jpg");
}
.location_right_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.location_info_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.location_black_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 82vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 1;
}
.location_image{
    margin-right: 2em;
    background-color: darkred;
    border: solid 1px white;
    height: 70vh;
    width: 22em;
    overflow: hidden;
    z-index: 2;
}
.location_image>img{
    height: 100%;
    width: auto;
}
.location_map{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    height: 40vh;
    overflow: hidden;
    width: 20em;
    z-index: 2;
}
.location_map>img{
    height: 100%;
    width: 100%;
}
.location_hours{
    margin-top: 1em;
}
/* ===========Section 1===========*/
.form_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2em 10%;
    margin: auto;
}
.image_logo{
    border-radius: 100px;
}
/*======Total Meals=======*/
.meals_donated_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.meals_inside_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    padding: 2%;
    box-shadow: 0px 0px 10px var(--red-color);
}
.meals_donated_container>h2{
    width: auto;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
}
.meal_amount{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    font-size: 35px;
}

@keyframes meals_animation{
    0%{
        transform: translateY(100px);
        opacity: 0;
        color: white;
    }
    30%{
        transform: translateY(0px);
        opacity: 1;
        color: red;
    }
    70%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}
#digit_1{
    animation: meals_animation 5s ease-in-out infinite;
}
#digit_2{
    animation: meals_animation 5s ease-in-out infinite;
    animation-delay: 300ms;
}
#digit_3{
    animation: meals_animation 5s ease-in-out infinite;
    animation-delay: 600ms;
}
#digit_4{
    animation: meals_animation 5s ease-in-out infinite;
    animation-delay: 900ms;
}
/*=======Form========*/
.submitted{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submitted>h2{
    text-align: center;
    font-size: 20px;
}
.submitted>h3{
    text-align: center;
    margin-top: 1em;
}
.submitted>img{
    width: 20%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 2em;
}
.volunteer_form{
    /*background-color: rgba(176, 55, 55, 0.658);*/
    background-color: var(--red-color);
    box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.664);
    min-height: 70vh;
    padding: 2%;
    width: 40%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 8px;
}
.volunteer_form>h2{
    font-size: 2em;
}
.volunteer_form>p{
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
}
.volunteer_form>p>input{
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    padding-left: 10px;
    border: none;
    color: white;
    border-bottom: solid 1px white;
    opacity: 0.8;
    transition: all 200ms ease;
}
.volunteer_form>p>textarea{
    transition: all 200ms ease;
    opacity: 0.8;
    padding: 1%;
    border-radius: 3px;
    max-width: 100%;
    height: 80px;
    border: none;
}
.volunteer_form>p>textarea:focus, .volunteer_form>p>textarea:hover{
    background-color: white;
    outline: solid 1px black;
    color: black;
}
.volunteer_form>p>input:hover, .volunteer_form>p>input:focus{
    background-color: white;
    color: black;
}
.volunteer_form>p>input:focus{
    outline: solid 1px black;
}
.volunteer_form>p>textarea:hover{
    opacity: 1;
}
#submitButton{
    border: solid 2px white;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 1%;
    height: auto;
    margin: auto;
    width: 50%;
}
#submitButton:hover{
    color: red;
    cursor: pointer;
    background-color: white;
}
#submitButton:focus{
    color: white;
    background-color: var(--red-color);
}
.form_image_overlay{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.form_image_overlay>h2 {
    border: solid 2px white;
    width: 50%;
    padding: 1% 0;
    text-align: center;
    transition: all ease-in-out 200ms;
}
.form_image_overlay>h2:hover{
    background-color: var(--red-color);
    transform: scale(1.1);
    cursor:default;
}
.form_image{
    overflow: hidden;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 60vh;
    width: 60%;
    box-shadow: 0px 0px 30px var(--red-color);
}
.form_image>img{
    height: 100%;
    width: 100%;
    transition: all 200ms ease;
}

.form_position{
    border: 2px solid yellow;
    height:10em;
}

/*=====Image Overlay======*/
.free_meals_container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.free_meals_container>img{
    position: absolute;
    width: 100%;
    transform: translateY(-10vh);
}
.free_meals_title{
    position: relative;
    margin: 1em auto;
    width: 100%;
    z-index: 2;
    text-align: center;
    font-size: 50px;
}
.black_overlay{
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 1;
    box-shadow: inset 0px 0px 20px black;
    background-color: rgba(0, 0, 0, 0.473);
}
/*========Section 2==========*/
.section_2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300%;
    padding: 2% 0;
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    background-color: var(--spinning-logo-color);
    margin: auto;
}
.image_header{
    margin-left: 5em;
}
.food_pic_container{
    overflow: hidden;
    width: 25vw;
    height: 25vw;
    border-radius: 5px;
    background-color: var(--spinning-logo-color);
    animation: picture_animation 15s linear infinite;
}
.section_2>div>img{ /* i think this is the same as the class "food_pic" i just made oops */
    width: 100%;
    height: 100%;
}

/*========Section 3==========*/
.section_3{
    width: 100%;
    display: block;
    height: 30em;
    border: solid 2px purple;
}

/*=====Sponsors=====*/
.full_sponsors_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
    border-left: solid 3px var(---red-color);
}
.full_sponsors_container>h3{
    margin-bottom: 2em;
    text-align: center;
}
.sponsor_pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.sponsor_container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 10vw;
    width: 10vw;
    border-radius: 10vw;
    background-color: white;
    transition: all 200ms ease;
}
.sponsor_container:hover{
    box-shadow: 0px 0px 10px var(--red-color);
    transform: scale(1.1);
}

.all_sponsor_containers{
    color: black;
    transition: all 200ms ease;
}
.all_sponsor_containers:hover{
    color: white;
}
.all_sponsor_containers>p{
    text-align: center;
    margin-top: 1em;
}

/* footer test */
/* this is here so we can test when you click volunteer how far down it goes. a temporary addition */
footer {
    border-top: solid white 1px;
    padding: 1%;
    margin: 3em 0;
}

/*==========Admin=======*/
.admin_background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}
.title_wrapper{
    padding: 1% 5%;
    display: flex;
    box-shadow: 0px 0px 10px black;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.title_wrapper>a, .title_wrapper>a:visited{
    color: white;
    text-decoration: none;
}
/*========Volunteer========*/
.volunteer_title{
    display: inline-block;
    margin-left: 10%;
    margin-top: 2%;
    padding: 0.5% 1%;
    background-color: rgb(255, 255, 255);
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: translateY(2px);
}
.table_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    border-radius: 15px;
    border-top-left-radius: 0px;
    width: 80%;
    padding: 2%;
    margin: auto;
}
.show_volunteer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
}
#show_volunteer_button{
    border: none;
    border: solid 1px black;
    font-size: 15px;
    width: 14em;
    height: 5em;
    border-radius: 10px;
    animation: volunteer_button_wiggle 3s infinite forwards ease;
}
#show_volunteer_button:hover{
    cursor: pointer;
    animation-play-state: paused;
}
.all_volunteers{
    border: solid 1px rgb(155, 155, 155);
    box-shadow: 3px 3px 6px black;
    border-radius: 5px;
    width: 45%;
    margin: 1em auto;
    padding: 2%
}
@keyframes volunteer_button_wiggle{
    0%{
        transform: translateY(0px);
        box-shadow: 0px 0px 0px black;
    }
    10%{
        transform: translateY(-3px);
        box-shadow: 0px 5px 5px black;
    }
    20%{
        transform: translateY(-3px);
        border: solid 1px black;
        box-shadow: 0px 5px 5px black;
    }
    25%{
        transform: translateY(-3px);
        border: solid 2px black;
        box-shadow: 0px 5px 5px black;
    }
    30%{
        transform: translateY(-3px);
        border: solid 1px black;
        box-shadow: 0px 5px 5px black;
    }
    35%{
        transform: translateY(-3px);
        border: solid 2px black;
        box-shadow: 0px 5px 5px black;
    }
    40%{
        transform: translateY(-3px);
        border: solid 1px black;
        box-shadow: 0px 5px 5px black;
    }
    100%{
        transform: translateY(0px);
        box-shadow: 0px 0px 0px black;
    }
}
/*========admin text input=========*/
.event_input_container, .meals_wrapper{
    display: flex;
    flex: 2 1 auto;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
    border-radius: 15px;
    border-top-left-radius: 0px;
    width: 80%;
    padding: 2%;
    margin: auto;
}
#event_input{
    width: 76%;
    border-radius: 5px 0px 0px 5px;
    border: solid black 1px;
    border-right: none;
    height: 40px;
}
#event_input_submit{
    width: 20%;
    border-radius: 0px 5px 5px 0px;
    border: solid black 1px;
    height: 40px;
}

/* via: https://www.sliderrevolution.com/resources/css-button-hover-effects/ */

/* ============= BUTTON TESTING ============ */
.draw-border {
    box-shadow: inset 0 0 0 4px var(--red-color);
    color: var(--red-color);
    border: solid 2px pink;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: var(--text-color-1);
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: var(--text-color-1);
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}
.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}