<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvation Suppers</title>
    <link rel="icon" href="../static/images/salvation_logo.png">
    <link rel = "stylesheet"
            href = "../static/css/custom.css"
            type = "text/css">
   <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="../static/js/script.js" defer></script>


    <!-- Nate font testing here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet"> 

</head>

<body>
    <main class = "admin_main">
        <div class="admin_background">
            <img src="../static/images/admin_background.jpg">
        </div>
        <div class = "title_wrapper">
            <h1>Admin Page</h1>
            <a href="/">back to site</a>
        </div>
        <h3 class="volunteer_title">Volunteers</h3>
        <div class = "table_wrapper">
            <!--
            <div class = "show_volunteer_container">
                <input type="button"
                id="show_volunteer_button"
                value="Show Volunteers"
                >
            </div>
        -->
            {% for v in volunteers %}
            <div class = 'all_volunteers'>
                <div class = "admin_delete_volunteer" id = "volunteer{{ v['id'] }}">✕</div>
                <p>{{ v['firstName'] }}</p>
                <p>{{ v['lastName'] }}</p>
                <p>{{ v['email'] }}</p>
                <p>{{ v['phone'] }}</p>
                <p>{{ v['whyHelp'] }}</p>
            </div>
            {% endfor %}
        </div>
        <h3 class="volunteer_title">Update Header Message</h3>
        <form method = "POST" class = "event_input_container">
            <input type = "text"
            name = "event_input"
            id = "event_input">

            <input type = "submit"
            name = "event_input_submit"
            id = "event_input_submit"
            value = "Save">
        </form>
        <h3 class="volunteer_title">Update Number of Meals</h3>
        <form method = "POST" class = "meals_wrapper">
            <input type = "text"
            name = "meals_input"
            id = "meals_input"
            maxlength = "3">
            
            <input type = "submit"
            name = "meals_input_submit"
            id = "meals_input_submit"
            value = "Save">
        </form>
    </main>
</body>
</html>