<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nate Lalor Ty Allembert">
    <meta name="description" content="Salvation Suppers provides free meals for those in need in the Greater Burlington Vermont area.">
    <meta name = "keywords" content = "salvation army, salvation army near me, the salvation army, salvation, salvation army pickup, 
    salvation army donations, salvation army store, salvation army drop off, super suppers, suppers to you, easy suppers, food near me, 
    food, food open near me, takeout food, vermont, burlington vermont, vermont donations, vermont salvation suppers, vermont free meals, 
    burlington free meals, vermont donations">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvation Suppers, VT</title>
    <link rel="icon" href="../static/images/salvation_logo.png">

    <!-- CSS Links -->
    <link rel = "stylesheet"
        href = "../static/css/custom.css"
        type = "text/css">
     <link rel = "stylesheet" media = "(max-width: 800px)"
        href = "../static/css/tablet.css"
        type = "text/css">
    <link rel = "stylesheet" media = "(max-width: 600px)"
        href = "../static/css/phone.css"
        type = "text/css">
    <!-- Javascript/JQuery Links --> 
   <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="../static/js/script.js" defer></script>


    <!-- Font Info -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet"> 

</head>

<body>
    <!-- Banner at top of site -->
    <div class = "event_container">
        <p>Slow Food USA Hosting Event at Club Metronome, Burlington, Vermont, May 7th 2022!</p>
    </div>
    <nav>
        <!-- Fun letters in top left of NAV -->
        <div class = "top_logo">
                <div class = "logo_letter">S</div>
                <div class = "logo_letter">a</div>
                <div class = "logo_letter">l</div>
                <div class = "logo_letter">v</div>
                <div class = "logo_letter">a</div>
                <div class = "logo_letter">t</div>
                <div class = "logo_letter">i</div>
                <div class = "logo_letter">o</div>
                <div class = "logo_letter">n</div>
                <div class = "logo_letter">S</div>
                <div class = "logo_letter">u</div>
                <div class = "logo_letter">p</div>
                <div class = "logo_letter">p</div>
                <div class = "logo_letter">e</div>
                <div class = "logo_letter">r</div>
                <div class = "logo_letter">s</div>
        </div>

        <!-- Volunteer button on NAV -->
        <a class="btn draw-border" href = "#go_to_form">Volunteer Now</a>
    </nav>
    <main class="index_main">
    
        <!-- rotating logo-->
       <div class = "spinning_logo_container"> 
            <img src="../static/images/new_salvation.gif" 
            alt="spinning logo"> 
        </div>

        <!-- Free Meals Program w/ photo underlay -->
        <div class = "free_meals_container">
            <div class = "black_overlay"></div>
            <img src="../static/images/salvation_pic_6.jpg" alt="Food picture">
            <h3 class = "free_meals_title">Burlington Free Meals Program</h3>
        </div>
        
        <!-- Who We Are text segment -->
        <div class = "pictures_form_wrapper">
            <div class = "text">
                <h1>Who We Are</h1>
                <p>
                    The goal of Salvation Suppers is to encourage and support community involvement. 
                    The centerpiece of our project is the Burlington Free Meals Program, a collaborative effort between local chefs and the Burlington Salvation Army. 
                    On Mondays we serve free dinners. Our network includes food professionals, artists, and students - 
                    all of whom Salvation Suppers supports in their efforts to give back to the community. 
                </p>
                <p>
                    
                </p>
            </div>
        </div>

        <!--Meals Donated Counter-->
        <div class = "meals_donated_container">
            <div class = "meals_inside_container">
                <h2>Free Meals Served</h2>
                <div class = "meal_amount">
                    <h2 id="digit_1">4</h2>
                    <h2 id="digit_2" >0</h2>
                    <h2 id="digit_3">0</h2>
                    <h2 id="digit_4">+</h2>
                </div>
            </div>
        </div>

        <!-- Location Information segment -->
        <div class = "location_container">
            <div class = "location_image">
                <img src="../static/images/the_big_salvation.jpeg" alt="Salvation Suppers building">
            </div>
            <div class = "location_right_side">

                <!-- Location text -->
                <div class = "location_info_container">
                    <h1>64 Main Street</h1>
                    <h4>Burlington, Vermont 05401</h4>
                    <h2 class = "location_hours">Hours</h2>
                    <h4>Mondays</h4>
                    <h4>12pm-6pm</h4>
                </div>

                <!-- Google Maps img -->
                <div class = "location_map" id = "map">

                    <!--<iframe 
                        style="border:0" 
                        loading="lazy" 
                        allowfullscreen
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCHRSyduzkPwjJ3HDXxdbUNRcbcGV6zF6s
                        &q=64+Main+Burlington,Vermont+USA
                        &zoom=10">
                    </iframe>-->

                    <a href="https://www.google.com/maps/place/Salvation+Army/@44.4760737,-73.2190351,17z/data=!4m5!3m4!1s0x4cca7afa1d643c69:0x9dae9e192ad42030!8m2!3d44.4761341!4d-73.2169476"
                        target="_blank" rel="noopener noreferrer">
                        <img src = "../static/images/google-maps.jpg"
                            alt = "maps location">
                    </a>
                </div>
            </div>
            <div class = "location_black_overlay"></div>
        </div>
  
        <!-- Form & Rotating imgs -->
        <div class = "form_section" id = "go_to_form">
            <div class = "form_image">
                <div class = "form_image_overlay">
                    <h2>COME GET INVOLVED</h2>
                </div>
                <img id = "rotating_food_pic" src = "../static/images/salvation_pic_3.jpg">
            </div>

            <!-- volunteer sign up - form here -->
            <form action = "" method = "post" id = "sign_up" class = "volunteer_form">
                <h2>Sign Up</h2>
                <p>
                    <label for = "txtFirstName">First Name</label>
                    <input id = "txtFirstName"     
                        name = "txtFirstName"
                        maxlength = "25"
                        type = "text" required>
                </p>
                <p>
                    <label for = "txtLastName">Last Name</label>
                    <input id = "txtLastName"     
                        name = "txtLastName"
                        maxlength = "25"
                        type = "text" required>
                </p>
                <p>
                    <label for = "txtEmail">Email</label>
                    <input id = "txtEmail"     
                        name = "txtEmail"
                        maxlength = "25"
                        type = "email" required>
                </p>
                <p>
                    <label for = "telPhoneNumber">Phone Number</label>
                    <input id = "telPhoneNumber"     
                        name = "telPhoneNumber"
                        type = "tel">
                </p>  
                <p>
                    <label for = "txtInterest">Interest</label>
                    <textarea id = "txtInterest" name = "txtInterest" placeholder = "How would you like to get involved?"></textarea>
                </p>
                <p>
                    <input id = "submitButton"     
                        name = "submitButton"
                        type = "button"
                        value = "Submit">
                </p>
            </form>

        </div>

        <!-- Footer -->
        <footer>
        
            <!-- Networking peeps -->
            <div class = "full_sponsors_container">
                <h3>In collaboration with:</h3>
                <div class="sponsor_pictures">

                    <!-- Zero Gravity -->
                    <div class = "zero_gravity_container all_sponsor_containers">
                        <a href = "https://www.zerogravitybeer.com/" target="_blank" class = "sponsor_container" id = "zero_gravity">
                            <img src = "../static/images/zero_gravity.png" alt="zero gravity logo" class = "image_logo">
                        </a>
                        <p class = "show_p">Zero Gravity</p>
                    </div>

                    <!-- Brio Coffee -->
                    <div class = "brio_coffee_container all_sponsor_containers">
                        <a href = "https://www.briocoffeeworks.com/" target="_blank" class = "sponsor_container" id = "brio_coffee">
                            <img src = "../static/images/brio_coffee.png" alt="brio coffee logo" class = "image_logo">
                        </a>
                        <p class = "show_p">Brio Coffee</p>
                    </div>

                   <!-- A Single Pebble -->
                    <div class = "single_pebble_container all_sponsor_containers">
                        <a href = "https://asinglepebble.com/" target="_blank" class = "sponsor_container">
                            <img src = "../static/images/single_pebble.png" alt="single pebble logo" class = "image_logo" id = "single_pebble">
                        </a>
                        <p class = "show_p">Single Pebble</p>
                    </div>

                    <!-- Slow Food -->
                    <div class = "slow_food_container all_sponsor_containers">
                        <a href = "https://www.slowfood.com/" target="_blank" class = "sponsor_container">
                            <img src = "../static/images/slow_food.png" alt="slow food logo" class = "image_logo" id = "slow_food">
                        </a>
                        <p class = "show_p">Slow Food</p>
                    </div>
                </div>
            </div>

        </footer>
        <!-- Thanks for checking out our website! :) -->
    </main>
</body>
</html>
