<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvation Suppers</title>
    <link rel="icon" href="../static/images/salvation_logo.png">
    <link rel = "stylesheet"
            href = "../static/css/custom.css"
            type = "text/css">
   <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="../static/js/script.js" defer></script>


    <!-- Nate font testing here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet"> 

</head>

<body>
    <div class = "event_container">
        <p>Slow Food USA Hosting Event at Arts and Riot, March 15th!</p>
    </div>
    <nav>
        <div class = "top_logo">
            <!--<img src="images/temp_horizontal_logo.png" 
                alt="logo top corner">-->
                <div class = "logo_letter">S</div>
                <div class = "logo_letter">a</div>
                <div class = "logo_letter">l</div>
                <div class = "logo_letter">v</div>
                <div class = "logo_letter">a</div>
                <div class = "logo_letter">t</div>
                <div class = "logo_letter">i</div>
                <div class = "logo_letter">o</div>
                <div class = "logo_letter">n</div>
                <div class = "logo_letter">S</div>
                <div class = "logo_letter">u</div>
                <div class = "logo_letter">p</div>
                <div class = "logo_letter">p</div>
                <div class = "logo_letter">e</div>
                <div class = "logo_letter">r</div>
                <div class = "logo_letter">s</div>
        </div>
        
        <a class="btn draw-border" href = "#go_to_form">Volunteer Now</a>
    </nav>
    <main class="index_main">
    
        <!-- rotating logo-->
       <div class = "spinning_logo_container"> 
            <img src="../static/images/salvation.gif" 
            alt="spinning logo"> 
        </div>
        <div class = "custom_logo">
            <div class = "salvation_word">
                <div class = "main_logo_letter">S</div>
                <div class = "main_logo_letter">a</div>
                <div class = "main_logo_letter">l</div>
                <div class = "main_logo_letter">v</div>
                <div class = "main_logo_letter">a</div>
                <div class = "main_logo_letter">t</div>
                <div class = "main_logo_letter">i</div>
                <div class = "main_logo_letter">o</div>
                <div class = "main_logo_letter">n</div>
            </div> 
            <div class = "suppers_word">
                <div class = "main_logo_letter">S</div>
                <div class = "main_logo_letter">u</div>
                <div class = "main_logo_letter">p</div>
                <div class = "main_logo_letter">p</div>
                <div class = "main_logo_letter">e</div>
                <div class = "main_logo_letter">r</div>
                <div class = "main_logo_letter">s</div>
            </div>
        </div>
        <div class = "free_meals_container">
            <div class = "black_overlay"></div>
            <img src="../static/images/salvation_pic_6.jpg" alt="Food picture">
            <h3 class = "free_meals_title">Burlington Free Meals Program</h3>
        </div>
        
        <div class = "pictures_form_wrapper">
            <div class = "text">
                <h1>Who We Are</h1>
                <!--<p>
                    Salvation Suppers is a non-profit organization based in Burlington, Vermont. Our mission is fueled by a volunteers who strive to provide
                    creative, high-quality meals for those in need within the community. 
                </p>-->
                <p>
                    My name is Nick Gambill and I founded Salvation Suppers in 2020 in partnership with the Salvation Army of Burlington's 
                    free meals program. Salvation Supper's goal is to involve local cooks, chefs, and food suppliers in a communal effort 
                    to give back to the community. Since its formation, Salvation Suppers has served hundreds of meals while establishing partnerships 
                    with local businesses such as Brio Coffee and Zero Gravity Beerhall.

                    Salvation Suppers is focused on bridging the gap between mutual aid efforts and Burlington's skilled creatives. 
                    Whether it be the cooks from Café Saint Paul, Hen of the Wood, or A Single Pebble, the 
                    students within the UVM and Yale computer science program developing a Salvation Suppers website, or a local film 
                    director producing our announcement video - Salvation Suppers draws upon grassroots mobilization for its resources.
                </p>
                <p>
                    
                </p>
            </div>
        </div>
        <!--Meals Donated Counter-->
        <div class = "meals_donated_container">
            <div class = "meals_inside_container">
                <h2>Total Meals Donated:</h2>
                <div class = "meal_amount">
                    <h2 id="digit_1">4</h2>
                    <h2 id="digit_2" >0</h2>
                    <h2 id="digit_3">0</h2>
                </div>
            </div>
        </div>
        <!-- location -->
        <div class = "location_container">
            <div class = "location_image">
                <img src="../static/images/location.jpeg" alt="da house vibes">
            </div>
            <div class = "location_right_side">
                <div class = "location_info_container">
                    <h1>64 Mainstreet</h1>
                    <h4>Burlington, Vermont 05401</h4>
                    <h2 class = "location_hours">Hours</h2>
                    <h4>Mondays & Tuesdays</h4>
                    <h4>12pm-4pm</h4>
                </div>
                <div class = "location_map" id = "map">
                    <img src = "../static/images/google-maps.jpg"
                        alt = "maps location">
                </div>
            </div>
            <div class = "location_black_overlay"></div>
        </div>
  
        <div class = "form_section" id = "go_to_form">
            <div class = "form_image">
                <div class = "form_image_overlay">
                    <h2>COME GET INVOLVED</h2>
                </div>
                <img id = "rotating_food_pic" src = "../static/images/salvation_pic_3.jpg">
            </div>
            <!-- volunteer sign up -->
            <form action = "" method = "post" id = "sign_up" class = "volunteer_form">
                <h2>Sign Up</h2>
                <p>
                    <label for = "txtFirstName">First Name</label>
                    <input id = "txtFirstName"     
                        name = "txtFirstName"
                        maxlength = "25"
                        type = "text" required>
                </p>
                <p>
                    <label for = "txtLastName">Last Name</label>
                    <input id = "txtLastName"     
                        name = "txtLastName"
                        maxlength = "25"
                        type = "text" required>
                </p>
                <p>
                    <label for = "txtEmail">Email</label>
                    <input id = "txtEmail"     
                        name = "txtEmail"
                        maxlength = "25"
                        type = "email" required>
                </p>
                <p>
                    <label for = "telPhoneNumber">Phone Number</label>
                    <input id = "telPhoneNumber"     
                        name = "telPhoneNumber"
                        type = "tel">
                </p>  
                <p>
                    <label for = "txtInterest">Interest</label>
                    <textarea id = "txtInterest" name = "txtInterest" placeholder = "How would you like to get involved?"></textarea>
                </p>
                <p>
                    <input id = "submitButton"     
                        name = "submitButton"
                        type = "button"
                        value = "Submit">
                </p>
            </form>

        </div>

<!--
        <h1 class = "image_header">A glimpse of what we do:</h1>
        <div class = "section_2">  
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_1.jpg" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_2.png" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_3.jpg" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_4.jpg" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_5.jpg" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_6.jpg" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_7.jpg" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_8.png" alt="food pic" class = "food_pic">
                </div>
                <div class = "food_pic_container">
                    <img src="images/salvation_pic_9.png" alt="food pic" class = "food_pic">
                </div>
        </div>

        <div class = "section_3" id = "call_test">
            <div class = "tbd">
                <h2>
                    64 Mainstreet
                </h2>

                <h3>
                    Mondays & Tuesdays
                </h3>
                <h2>
                    Free Meals Program
                </h2>
            </div>
            
        </div>
        
    -->
        <footer> <!-- TBD -->
        
            <!-- Sponsors -->
            <div class = "full_sponsors_container">
                <h3>Check out our partners:</h3> <!-- ARE THESE SPONSORS? OR SHOULD WE SAY "SEE WHO WE'RE COLLABORATING WITH IN OUR COMMUNITY:"? -->
                <div class="sponsor_pictures">
                    <div class = "zero_gravity_container all_sponsor_containers">
                        <a href = "https://www.zerogravitybeer.com/" target="_blank" class = "sponsor_container" id = "zero_gravity">
                            <img src = "../static/images/zero_gravity.png" alt="zero gravity logo" class = "image_logo">
                        </a>
                        <p class = "show_p">Zero Gravity</p>
                    </div>
                    <div class = "brio_coffee_container all_sponsor_containers">
                        <a href = "https://www.briocoffeeworks.com/" target="_blank" class = "sponsor_container" id = "brio_coffee">
                            <img src = "../static/images/brio_coffee.png" alt="brio coffee logo" class = "image_logo">
                        </a>
                        <p class = "show_p">Brio Coffee</p>
                    </div>
                    <div class = "single_pebble_container all_sponsor_containers">
                        <a href = "https://asinglepebble.com/" target="_blank" class = "sponsor_container">
                            <img src = "../static/images/single_pebble.png" alt="single pebble logo" class = "image_logo" id = "single_pebble">
                        </a>
                        <p class = "show_p">Single Pebble</p>
                    </div>
                    <div class = "slow_food_container all_sponsor_containers">
                        <a href = "https://www.slowfood.com/" target="_blank" class = "sponsor_container">
                            <img src = "../static/images/slow_food.png" alt="slow food logo" class = "image_logo" id = "slow_food">
                        </a>
                        <p class = "show_p">Slow Food</p>
                    </div>
                </div>
            </div>

        </footer>

    </main>
</body>
</html>